// 变量文件

// 基础色彩系统
// 中性色
$white: #fff !default;
$gray-01: #f7f8fa !default;
$gray-02: #f2f3f5 !default;
$gray-03: #e5e6eb !default;
$gray-04: #c9cdd4 !default;
$gray-05: #a9aeb8 !default;
$gray-06: #86909c !default;
$gray-07: #6b7785 !default;
$gray-08: #4e5969 !default;
$gray-09: #272e3b !default;
$gray-10: #1d2129 !default;
$black: #000 !default;
// 基础色
$red: #f53f3f !default;
$orange-red: #f77234 !default;
$orange: #ff7d00 !default;
$gold: #f7ba1e !default;
$yellow: #fadc19 !default;
$lime: #9fdb1d !default;
$green: #00b42a !default;
$cyan: #14c9c9 !default;
$blue: #3491fa !default;
$arco-blue: #165dff !default;
$purple: #722ed1 !default;
$pink-purple: #d91ad9 !default;
$magenta: #f5319d !default;
$gray: #86909c !default;
// 系统色
$primary: $blue !default;
$secondary: $gray !default;
$success: $green !default;
$info: $arco-blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-01 !default;
$dark: $gray-10 !default;

// 字体系统
// 字体类型
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
// 字体大小
$font-size-base: 1rem !default; // assumes the browser default, typically '16px'
$font-size-large: $font-size-base * 1.25 !default;
$font-size-small: $font-size-base * 0.875 !default;
$font-size-root: null !default;
// 字重
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
// 行高
$line-height-base: 1.5 !default;
$line-height-large: 2 !default;
$line-height-small: 1.25 !default;
// 标题大小
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
// 链接相关
$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// body相关
$body-background-color: $white !default;
$body-color: $gray-10 !default;
$body-text-align: null !default;
